<h1>Simple Airbnb</h1>

<div class="cards">
  <% @flats.each do |flat| %>
    <div class="card-trip">
      <%= link_to flat_path(flat) do %>
      <div class="card-trip-infos">
        <h2><%= flat.name %></h2>
        <p><%= flat.address %></p>
      <% end %>    
      </div>
        <div class="card-footer-mine">
         <i class="fas fa-user-friends"><%= flat.number_of_guests %></i>
         <i class="fab fa-bitcoin"><%= flat.price_per_night %></i>
        </div>
    </div>
  <% end %>
</div>
